/* General styling */

html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header styling */

.logo .container {
  display: flex;
  align-items: center;
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo span {
  font-size: 1rem;
}

/* Main banner styling */

.main-banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.title {
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  width: 20rem;
}

h1, h4 {
  font-weight: bold;
}

.title h4 {
  font-size: 1rem;
  margin: 1.33rem 0;
}

.title h1 {
  font-size: 2rem;
  margin: 0.25rem 0;
}

/* Navigation bar styling */

.navigation {
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
}
