/* General styling */

html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header styling */

.logo {
  background-color: black;
}

.logo .container {
  display: flex;
  align-items: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo span {
  font-size: 1rem;
}

/* Main banner styling */

.main-banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.title {
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  width: 20rem;
}

h1, h4 {
  font-weight: bold;
}

.title h4 {
  font-size: 1rem;
  margin: 1.33rem 0;
}

.title h1 {
  font-size: 2rem;
  margin: 0.25rem 0;
}

/* Navigation bar styling */

nav {
    background-color: firebrick;
}

.navigation {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
}

/* Product grid styling */

.product-grid {
  display: flex;
  margin: 3rem auto;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product img {
  max-width: 8rem;
}

.product span {
  display: block;
  background-color: black;
  padding: 0.5rem;
  text-align: center;
}


/* Info section styling */

.info {
  display: flex;
  margin-bottom: 4rem;
  justify-content: space-between;
}

.location, .hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.info h2 {
  display: block;
  background-color: black;
  padding: 1rem 2rem;
}

.info p {
  color: black;
}

/* Footer section styling */

footer {
  height: 5rem;
  background-color: black;
  padding: 5rem 0px;
}
