/* General styling */

html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.container {
  display: flex;
  display: block;
}

/* Header styling */

.logo {
  display: flex;
  align-items: center;
  background-color: black;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo span {
  font-size: 1rem;
}

/* Main banner styling */

.main-banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
}

.title {
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  width: 20rem;
}

.title h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.title h1 {
  font-size: 2rem;
  font-weight: bold;
}
